# Namecheap API (https://www.namecheap.com/myaccount/login.aspx?goto=1)
# Whitelist your IP under Profile → Tools → API Access
NAMECHEAP_API_USER=
NAMECHEAP_API_KEY=
NAMECHEAP_USERNAME=
NAMECHEAP_CLIENT_IP=190.251.148.133
